@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 45 33% 97%;
    --foreground: 26 12% 11%;

    --card: 45 33% 98%;
    --card-foreground: 26 12% 11%;

    --popover: 45 20% 92%;
    --popover-foreground: 26 12% 11%;

    --primary: 43 47% 62%;
    --primary-foreground: 45 33% 97%;

    --secondary: 26 6% 24%;
    --secondary-foreground: 45 33% 97%;

    --muted: 48 3% 71%;
    --muted-foreground: 26 4% 37%;

    --accent: 50 65% 72%;
    --accent-foreground: 26 12% 11%;

    --destructive: 0 72% 50%;
    --destructive-foreground: 0 85% 97%;

    --border: 48 8% 86%;
    --input: 48 8% 86%;
    --ring: 43 47% 62%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 26 12% 11%;

    --sidebar-primary: 43 47% 62%;

    --sidebar-primary-foreground: 45 33% 97%;

    --sidebar-accent: 26 6% 24%;

    --sidebar-accent-foreground: 45 33% 97%;

    --sidebar-border: 48 8% 86%;

    --sidebar-ring: 43 47% 62%;

    --chart-1: 50 65% 72%;

    --chart-2: 43 47% 62%;

    --chart-3: 41 42% 54%;

    --chart-4: 26 6% 24%;

    --chart-5: 26 4% 37%;

    --sidebar: 45 33% 98%;

    --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;

    --font-serif: 'Libre Caslon Text', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

    --font-mono: 'Roboto Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);

    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);

    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);

    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 26 12% 11%;
    --foreground: 45 33% 95%;

    --card: 26 10% 14.0000%;
    --card-foreground: 45 33% 95%;

    --popover: 26 8% 18%;
    --popover-foreground: 45 33% 95%;

    --primary: 50 65% 72%;
    --primary-foreground: 26 12% 11%;

    --secondary: 26 6% 24%;
    --secondary-foreground: 45 33% 95%;

    --muted: 26 4% 37%;
    --muted-foreground: 48 3% 71%;

    --accent: 26 10% 18%;
    --accent-foreground: 50 65% 72%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 85% 97%;

    --border: 26 6% 24%;
    --input: 26 6% 24%;
    --ring: 50 65% 72%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 45 33% 95%;
    --sidebar-primary: 50 65% 72%;
    --sidebar-primary-foreground: 26 12% 11%;
    --sidebar-accent: 26 6% 24%;
    --sidebar-accent-foreground: 45 33% 95%;
    --sidebar-border: 26 6% 24%;
    --sidebar-ring: 50 65% 72%;
    --chart-1: 50 65% 78%;
    --chart-2: 43 47% 70%;
    --chart-3: 41 42% 60%;
    --chart-4: 48 3% 71%;
    --chart-5: 26 4% 37%;
    --sidebar: 26 10% 14.0000%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
